@charset"utf-8";
body,div,p,ul,dl,ol,dt,dd,li,h1,h2,h3,h4,h5,h6,form,fieldset,table,tr,td,input,textarea,figure{
	margin:0;
	padding:0;
}
body{
	font-family:"微软雅黑";
}
a{
	text-decoration:none;
}
a:hover{
	cursor:pointer;
}
ul,ol{
	list-style:none;
}
img{
	border: none;
	display: block;
}
$basefontsize:12px;
/* header开始 */
header{
	
	width:100%;
	height:29px;
	font-size:$basefontsize;
	border-bottom:1px solid #dddddd;
	background:#f5f5f5;
	
}
header a:hover{
     color:#c70a28;
     
}
.headercontent{
	position:relative;
	/* display:flex;
	justify-content:space-between;
	align-items:center; */
	height:29px;
	width:1200px;
	margin:0 auto;
	/* overflow:hidden; */
}
.headerleft{
	float:left;
	width:140px;
	height:29px;
	line-height:29px;
	
}
.headerleft a{
	margin:0 9px;

}
.headerleft a:first-child{
	font-weight:600;
	color:#ff0033;
}
.headerleft a:last-child{
	color:#565656;
}
.headerright{
	float:right;
	/* display:flex;
	justify-content:space-between; */
	vertical-align:middle;
	width:490px;
	height:29px;
	line-height:29px;
}
.headerright p{
	float:left;
	color:#000000;
	padding-left:16px;
	
}
.headerright a{
	float:left;
	color:#565656;
	padding-left:10px;
	
}
/* .heaserright a:first-child{
	padding-left:9px;
}
.heaserright a:nth-child(2){
	padding-left:13px;
}
.heaserright a:nth-child(3){
	padding-left:12px;
} */
.headerright .right{
	 color:#c70a28;
}
.headercontent #header_hid{
	display:flex;
    justify-content:space-between;
	position:absolute;
	top:29px;
	left:0px;
	width:100%;
	height:150px;
    padding:7px 0 7px;
	border:1px solid #e5e5e5;
	z-index:2;
	/* background:red; */
	display:none;
}

.header_hid .line_1{
	width:212px;
	height:137px;
    border-right:1px solid #e5e5e5;
	padding:9px 43px 5px 33px;
}
.header_hid .line_2{

	width:327px;
	height:137px;
    border-right:1px solid #e5e5e5;
	padding:9px 43px 5px 25px;
}
.header_hid .line_3{

	width:205px;
	height:137px;
    border-right:1px solid #e5e5e5;
	padding:9px 72px 5px 33px;
}
.header_hid .line_4{

	width:220px;
	height:137px;
    border-right:1px solid #e5e5e5;
	padding:9px 43px 5px 33px;
}
.header_hid .line_5{

	width:250px;
	height:137px;
	padding:9px 43px 5px 33px;
}
 .header_hid .line_1 .one {
	float:left;
	margin-right:37px;
}
.header_hid .line_1 ul {
	float:left;
}
.line_2 .uls1{
	float:left;
	margin-right:55px;
}
.line_2 .uls2{
	float:left;
	/* margin-right:55px */
}
.line_5 ul{
	float:left;
}
.line_5 .five{
	margin-right:43px;
}
/*  .line_2 .women {
	float:left;
	margin-right:37px;
	
} */

 .header_hid ul a{
	font-size:$basefontsize;
	line-height:24px;
	color:#666666;
}
.line_1 ul a:hover{
    color:#f66b03;
}
.line_2 ul a:hover{
   color:#ec0736;
}
.line_3 ul a:hover{
    color:#2263d4;
}
.line_4 ul a:hover{
    color:#5e8e3d;
}
.line_5 ul a:hover{
    color:#686897;
}
.header h3{
	font-size:$basefontsize+4;
	line-height:34px;
}
.line_1 h3{
	line-height:34px;
	color:#f66b03;
}
.line_2 h3{
	line-height:34px;
	color:#ec0736;
}
.line_3 h3{
	line-height:34px;
	color:#2263d4;
}
.line_4 h3{
	line-height:34px;
	color:#5e8e3d;
}
.line_5 h3{
	line-height:34px;
	color:#686897;
}
/* section_one */
.section_one{
	width:100%;
	height:170px;
		/* background:pink; */
}
.content{
	width:1200px;
	height:170px;
	margin:0 auto;
	/* background:red; */
}
.top{
	width:100%;
	height:132px;
	margin-top:16px;
	
}
.button{
	width:100%;
	height:38px;
	/* position:relative; */
}
.top_left{
	float:left;
	width:400px;
	height:48px;
	margin-top:12px
}
.top_left a{
	float:left;
	;
	vertical-align:middle;
}
.top_cont{
	width:492px;
	height:62px;
	margin-top:12px;
	margin-right:167px;
	float:left;
}
/* .top1{
	
} */
#text{
	float:left;
	width:403px;
	height:32px;
	border:2px solid #c80a28;
	font-size:$basefontsize+4;
	color:#c80a28;
	outline:none;
}
#btn01{
	float:left;
	width:85px;
	height:36px;
    border:none;
    font-size:$basefontsize+4;
    color:white;
	background:#c80a28;
}
.top2 a{
	float:left;
	padding:0 6px;
	font-size:$basefontsize;
	line-height:32px;
	color:#666666;
	background:url(../imgs/bg1.jpg) no-repeat right center;
}
.top2 .last{
	background:none;
}
.top2 a:hover{
	color:#c80a28;
}
.top_right{
	float:left;

}
.button .but_left{
	/* position:absolute;
	left:0;
	top:0px; */
	float:left;
	width:190px;
	height:38px;
	background:#fe0032;
}
.but_left p{
	font-size:$basefontsize+2;
	color:white;
	line-height:38px;
	text-align:center;
}
.but_cont{
	float:left;
}
.but_right{
	float:right;
	margin-right:37px;
}
.button a{
	font-size:$basefontsize+2;
	color:black;
	font-weight:600;
	line-height:38px;
	
}
.but_cont a{
	padding:0 16px;
}
.button a:hover{
	color:#ec0736;
}
.but_right p{
	float:left;
	margin-right:30px;
	
	vertical-align:middle;
}
.but_right p a{
	float:left;
}
.but_right a{
	float:left;
}
/* banner部分 */
.banner{
	position:relative;
	width:100%;
	height:450px;
}
.banner a img{
	width:100%;
	height:450px;
}
.select{
	position:absolute;
	left:75px;
	top:0px;
	width:190px;
	height:450px;
	background:#e3e3e3;
	z-index:100;
}
.select ul li{
	width:175px;
    height:48px;
    padding:10px 0 7px 15px;
    border-bottom:1px solid #cccccc;
}
.select ul .li_last{
	border-bottom:none;
}
.select ul li p img{
     float:left;
     margin-right:5px;
}
.select ul li p span{
	font-size:$basefontsize+2;
	font-weight:600;
	color:#333333;
	line-heigth:24px;
}
.select ul li .jt{
	float:right;
}
.select ul li p a{
	float:left;
	font-size:$basefontsize;
	color:#555555;
	line-height:24px;
	margin-right:6px;
}
.select img{
	width:18px;
	height:18px;
}
.select ul .pa{
	color:#ff0000;
}
.select ul li a:hover{
	color:#ff0000;

}
.ban_fot{
	position:absolute;
	bottom:6px;
	left:503px;
	width:270px;
	height:30px;
	/* text-align:center; */
	margin:0 auto;
	z-index:99;
}
.ban_fot a{
    float:left;
    width:120px;
    height:30px;
    margin:0 5px;
    background:white;
    font-size:$basefontsize;
    line-height:30px;
    text-align:center;
    color:#333333;
}
/* section_three */
.section_three{
	width:100%;
	height:345px;
}
.sec3_cont{
	width:1200px;
	height:345px;
	margin:0 auto;
}
.sec3_left{
	float:left;
}
.sec3_left h4{
	font-size:$basefontsize+6;
	color:black;
	line-height:50px
}
.left_but{
	width:677px;
	height:290px;
	border:1px solid #eeeeee;
}
.left_but ul{
	padding:37px 22px;
	display:flex;
	justify-content:cneter;
	align-items:center;
	flex-wrap:wrap;
}
.left_but ul li{
	padding:12px 16px;
}
.sec3_right{
	float:right;
	width:500px;
	height:338px;
	border:1px solid #eeeeee;
}
.right_top{
	width:501px;
	height:45px;
}
.right_top a{
	width:167px;
	height:43px;
	border-bottom:2px solid #e7e7e7;
	font-size:$basefontsize+4;
	line-height:43px;
	text-align:center;
	color:black;
	float:left;
}

.right_but {
	padding:15px 9px;
}
.right_but img{
	margin-bottom:15px;
}
.right_but ul li a{
	float:left;
	font-size:$basefontsize+2;
	line-height:24px;
	color:#333333;
}
.right_but ul .li_a{
	float:right;
}
.right_but ul li a:hover{
	text-decoration:underline;
}
/* section_four */
.section_four{
	width:100%;
	height:338px;
	margin-top:20px;
}
.sec4_cont{
	width:1200px;
	height:318px;
	
	margin:0 auto;
}

/* section_five */
.section_five {
  width: 100%;
  height: 391px;
   }

.sec5_cont {
  width: 1200px;
  height: 391px;
  margin-top: 30px;
  margin: 0 auto; }
.sec5_cont p span{
	float:left;
  font-size:$basefontsize+4;
  line-height:20px;
  text-align:center;
  
}
.sec5_cont p .first{
	color:#333333;
	margin-right:10px;
}
.sec5_cont p .second{
	color:#b3b3b3;
	margin-right:60px;

}
.sec5_cont p a{
    float:left;
    width:62px;
    height:20px;
    font-size:$basefontsize;
    line-height:20px;
    text-align:center;
    color:#666666;
    margin:0 8px;

}
.sec5_cont p{
	margin-bottom:6px;
	font-size:$basefontsize+2;
	color:#5f5f5f;
}
.sec5_cont ul {
	list-style:none;
	display:flex;
	justify-content:space-between;
}

.sec5_cont ul li a{
	margin-bottom:16px;
}
.sec5_cont p span{
	font-size:$basefontsize;
	color:#b8b8b8;
	text-decoration:line-through;
}