@charset"utf-8";
$basefontsize:12px;


/* banner部分 */
.banner{
	position:relative;
	width:100%;
	height:450px;
}
/* .ban_cont{
	
	width:1200px;
	height:450px;
	margin:0 auto;
} */
.banner a img{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:450px;
}
.sel_left{
	position:absolute;
	left:34px;
	top:0px;
	width:190px;
	height:450px;
	background:#e3e3e3;
	z-index:100;
}
.sel_left ul li{
	width:175px;
    height:48px;
    padding:10px 0 7px 15px;
    border-bottom:1px solid #cccccc;
}
.sel_left ul li:last-child{
	border-bottom:none;
}
.sel_left ul li p img{
     float:left;
     margin-right:5px;
}
.sel_left ul li p span{
	font-size:$basefontsize+2;
	font-weight:600;
	color:#333333;
	line-height:24px;
}
.sel_left ul li .jt{
	float:right;
}
.sel_left ul li p a{
	float:left;
	font-size:$basefontsize;
	color:#555555;
	line-height:24px;
	margin-right:6px;
}
.sel_left img{
	width:18px;
	height:18px;
}
.sel_left ul .pa{
	color:#ff0000;
}
.sel_left ul li a:hover{
	color:#fff;
    text-decoration: underline;
}
.sel_left ul li:hover {
	background: #333333;
    color: white;
}

.hide{
	display: block;
}

 .sel_right{
	position:absolute;
	left:224px;
	top:0px;
	height:450px;
   overflow: hidden;
	background:rgba(250,250,250,0.8);
	z-index:100;
	
	}
.sub{
	position: absolute;
	background:rgba(250,250,250,0.9);
	padding: 0 10px;
}
.sub dl{
	width: 400px;
	height: 48px;
	border-bottom: 1px dashed #dcdbda;
	padding: 7px 0px;
	dt{
	font-size: $basefontsize+2;
	color: #383534;
	}
}
.sub dl dd{
	font-size: $basefontsize;
		color: #a4a2a2;
		margin-top: 8px;
		a{
			padding: 0 5px;
			border-right: 1px solid #dfd9d5;
		}
}
/*.right1{
    position: absolute;
	width:200px;
	height:450px;
	background:rgba(250,250,250,0.9);
	display: none;	
}
.right1 ul{
			display:flex;
			justify-content:space-between;
			
}
.right1 ul li a img{
	 display: block ! important;
	 width:70px;
	 height:25px;
}
.right2{
		width:420px;
		height:436px;
		position: absolute;
		background:rgba(250,250,250,0.9);
		padding: 0 10px;
		display: none;
		dl{
			width: 400px;
			height: 48px;
			border-bottom: 1px dashed #dcdbda;
			padding: 7px 0px;
			dt{
			font-size: $basefontsize+2;
			color: #383534;
		   }

		} 

}
.right2 dl dd{
		font-size: $basefontsize;
		color: #a4a2a2;
		margin-top: 8px;
		a{
			padding: 0 5px;
			border-right: 1px solid #dfd9d5;
		}
 }
 .right2 dl dd a:last-child{
 	border-right: none;
 }
 .right3{
		width:380px;
		height:436px;
		position: absolute;
		background:rgba(250,250,250,0.9);
		padding: 0 10px;
		display: none;
		dl{
			width: 400px;
			height: 48px;
			border-bottom: 1px dashed #dcdbda;
			padding: 7px 0px;
			dt{
			font-size: $basefontsize+2;
			color: #383534;
		   }

		} 

}
.right3 dl dd{
		font-size: $basefontsize;
		color: #a4a2a2;
		margin-top: 8px;
		a{
			padding: 0 5px;
			border-right: 1px solid #dfd9d5;
		}
 }
 .right3 dl dd a:last-child{
 	border-right: none;
 }
 .right4{
		width:380px;
		height:312px;
		position: absolute;
		top:125px;
		background:rgba(250,250,250,0.9);
		padding: 0 10px;
		display: none;
		dl{
			width: 400px;
			height: 48px;
			border-bottom: 1px dashed #dcdbda;
			padding: 7px 0px;
			dt{
			font-size: $basefontsize+2;
			color: #383534;
		   }

		} 

}
.right4 dl dd{
		font-size: $basefontsize;
		color: #a4a2a2;
		margin-top: 8px;
		a{
			padding: 0 5px;
			border-right: 1px solid #dfd9d5;
		}
 }
 .right4 dl dd a:last-child{
 	border-right: none;
 } */
.ban_fot{
	position:absolute;
	bottom:6px;
	left:503px;
	width:270px;
	height:30px;
	/* text-align:center; */
	z-index:99;
}
.ban_fot a{
    float:left;
    width:120px;
    height:30px;
    margin:0 5px;
    background:white;
    font-size:$basefontsize;
    line-height:30px;
    text-align:center;
    color:#333333;
}
/* section_three */
.section_three{
	width:100%;
	height:345px;
}
.sec3_cont{
	width:1200px;
	height:345px;
	margin:0 auto;
}
.sec3_left{
	float:left;
}
.sec3_left h4{
	font-size:$basefontsize+6;
	color:black;
	line-height:50px
}
.left_but{
	width:677px;
	height:290px;
	border:1px solid #eeeeee;
}
.left_but ul{
	padding:37px 22px;
	display:flex;
	justify-content:space-around;
	align-items:center;
	flex-wrap:wrap;
}
.left_but ul li{
	padding:12px 16px;
}
.sec3_right{
	float:right;
	width:500px;
	height:338px;
	border:1px solid #eeeeee;
}
.right_top{
	width:501px;
	height:45px;
}
.right_top a{
	width:167px;
	height:43px;
	border-bottom:2px solid #e7e7e7;
	font-size:$basefontsize+4;
	line-height:43px;
	text-align:center;
	color:black;
	float:left;
}

.right_but {
	padding:15px 9px;
}
.right_but img{
	margin-bottom:15px;
}
.right_but ul li a{
	float:left;
	font-size:$basefontsize+2;
	line-height:24px;
	color:#333333;
}
.right_but ul .li_a{
	float:right;
}
.right_but ul li a:hover{
	text-decoration:underline;
}
/* section_four */
.section_four{
	width:100%;
	height:338px;
	margin-top:20px;
}
.sec4_cont{
	width:1200px;
	height:318px;
	
	margin:0 auto;
}
.sec4_cont img{
	float:left;
}
.sec4_cont img:first-child{
	margin-right:21px;
}
/* section_five */
.section_five {
  width: 100%;
  height: 391px;
   }

.sec5_cont {
  width: 1200px;
  height: 391px;
  margin-top: 30px;
  margin: 0 auto; }
.sec5_top span{
	float:left;
  font-size:$basefontsize+4;
  line-height:20px;
  text-align:center;
  
}
 .first{
	color:#333333;
	margin-right:10px;
}
.second{
	color:#b3b3b3;
	margin-right:60px;

}
.sec5_top a{
    float:left;
    width:62px;
    height:20px;
    font-size:$basefontsize;
    line-height:20px;
    text-align:center;
    color:#666666;
    margin:0 8px;

}
.sec5_top{
	height:20px;
	margin-bottom:6px;
	font-size:$basefontsize+2;
	color:#5f5f5f;
}
.sec5_button {
	width:1200px;
	height:264px;
	/* display:flex;
	justify-content:space-between; */
	/* flex-direction:row; */
	
}
.sec5_button ul {
	display:flex;
	justify-content:space-between;
}

.sec5_button ul li a img{
	width:223px;
	height:230px;
	margin-bottom:16px;
}
.sec5_button p span{
	font-size:$basefontsize;
	color:#b8b8b8;
	text-decoration:line-through;
}
/* section_sex */
.section_sex {
  width: 100%;
 /* height:720px;*/
   }

.sec6_cont {
  width: 1200px;
  /*height: 720px;*/
  margin: 0 auto; }
.sec6_cont1{
	width:100%;
	height:20px;
	margin-bottom:10px;
}
.sec6_cont1 span{
	float:left;
	line-height:20px;
	text-align:center;
}
.sec6_cont1 span:nth-child(1){
	font-size:$basefontsize+4;
	color:#ac7562;
	margin-right:20px;

}
.sec6_cont1 span:nth-child(2){
	font-size:$basefontsize+4;
	color:#595959;
}
.sec6_cont1 p{
	float:right;
	a{
		font-size:$basefontsize;
		color:#565656;
		line-height:20px;
		text-align:center;
		padding:0 13px;
	}
}
.sec6_cont1 p a:first-child{
	color:#e53333;
}
.sec6_cont1 p a:hover{
	color:#e53333;
}
.sec6_cont2{
	width:100%;
	height:422px;
	display:flex;
	justify-content:space-between;

}
.sec6_cont2_left{
	width:190px;
	height:422px;
}
.sec6_cont2_left p{
	margin-top:12px;

}
.sec6_cont2_left p a{
	font-size:$basefontsize;
	color:#b7e5fa;
	line-height:28px;
	text-align:center;
	padding:0 9px;
}
.sec6_cont3 {
	width:1200px;
	height:264px;
	margin-top:10px;
	/* display:flex;
	justify-content:space-between; */
	/* flex-direction:row; */
	
}
.sec6_cont3 ul {
	display:flex;
	justify-content:space-between;
}

.sec6_cont3 ul li a img{
	width:223px;
	height:230px;
	margin-bottom:16px;
}
.sec6_cont3 p span{
	font-size:$basefontsize;
	color:#b8b8b8;
	text-decoration:line-through;
}
.section_bg{
	width:100%;
	height: 200px;
	.bg_cont{
		width:1200px;
		height:100px;
		margin:0 auto;
		padding: 50px 0;

		/* img{
			margin:50px 0;
		} */
	}
}

.last{
	width: 100%;
	height: 20px;
	margin-bottom: 13px;
	margin-top: 18px;
	.last_cont{
		width: 1200px;
		height: 20px;
		margin: 0 auto;
		position: relative;
		/* overflow: hidden; */
		p{
			position: absolute;
			width: 70px;
			height: 20px;
			left: 0;
			top: 0;
			background: white;
			font-size: $basefontsize+2;
			color: black;
			line-height: 20px;
			z-index: 2;
		}
		
	}
}
.move{
	width:100%;
	height: 100%;
}
 .move a{
			font-size: $basefontsize+2;
			line-height: 20px;
			color: #565656;
			padding: 0 6px;
		}