@charset"utf-8";
$basefontsize:12px;
.but_left{
	position: relative;
	/* overflow: hidden; */
}
.select{
	position: absolute;
	left: 0;
	top: 38px;
	display: none;
}
.sel_left{
	position:absolute;
	left:0px;
	top:0px;
	width:190px;
	height:450px;
	background:#e3e3e3;
	z-index:100;
}
.sel_left ul li{
	width:175px;
    height:48px;
    padding:10px 0 7px 15px;
    border-bottom:1px solid #cccccc;
}
.sel_left ul li:last-child{
	border-bottom:none;
}
.li_top{
	width: 175px;
	height: 24px;
	display: flex;
	justify-content: space-between;
}
.left_li{
	font-size:$basefontsize+2;
	font-weight:600;
	color:#333333;
	line-height:24px;
	
}
.left_li img{
	display:inline-block;
	vertical-align: middle;
	margin-right: 5px;
}
.sel_left ul li p{
	width: 175px;
	height: 24px;
	a{
		float:left;
		font-size:$basefontsize;
		color:#555555;
		line-height:24px;
		margin-right:6px;
	}
}

/* .sel_left ul li p img{
     float:left;
     vertical-align: middle;
     margin-right:5px;
}
.sel_left ul li p span{
	font-size:$basefontsize+2;
	font-weight:600;
	color:#333333;
	line-height:24px;
}
.sel_left ul li .jt{
	float:right;
}
.sel_left ul li p a{
	float:left;
	font-size:$basefontsize;
	color:#555555;
	line-height:24px;
	margin-right:6px;
}
.sel_left img{
	width:18px;
	height:18px;
}
.sel_left ul .pa{
	color:#ff0000;
}
.sel_left ul li a:hover{
	color:#ff0000;

}
.sel_left ul li:hover{
	background: #333333;
	color: white;
} */
.hide{
	display: none;
}

 .sel_right{
	position:absolute;
	left:224px;
	top:0px;
	height:450px;
   overflow: hidden;
	background:rgba(250,250,250,0.8);
	z-index:100;
	
	}
.sub{
	position: absolute;
	background:rgba(250,250,250,0.9);
	padding: 0 10px;
}
.sub dl{
	width: 400px;
	height: 48px;
	border-bottom: 1px dashed #dcdbda;
	padding: 7px 0px;
	dt{
	font-size: $basefontsize+2;
	color: #383534;
	}
}
.sub dl dd{
	font-size: $basefontsize;
		color: #a4a2a2;
		margin-top: 8px;
		a{
			padding: 0 5px;
			border-right: 1px solid #dfd9d5;
		}
}
/* section */
section{
	width: 100%;
	height: 516px;
	margin-top: 40px;
	.sec_cont{
		width: 1200px;
		height: 516px;
		margin:0 auto;
		
	}
}
.left{
			width: 488px;
			height: 480px;
			padding-top: 20px;
			float: left;
			border-right: 1px dashed #dddddd;
		}
.left_cont{
				width: 330px;
				height: 360px;
				margin:0 80px 140px;
				.left_cont_top {
					span{
					font-size: $basefontsize;
					color: black;
				    }
				    #btn{
				    	font-size:$basefontsize+4;
				    	color:white;
				    	width:103px;
				    	height:29px;
				    	background:#b36d32;
				    	border:1px solid #b56824;
				    	border-radius:2px;
				    }
				}
				
			}
.left_cont_img{
	margin:20px auto;
}
.left_cont_but{
	width:333px;
	height:27px;
	#dingyue{
		width:250px;
		height:27px;

	}
	#btn_dingyue{
		width:70px;
		height:22px;
		background:#c40001;
		border:1px solid #c40001;
		border-radius:2px;
		font-size:$basefontsize;
		color:white;
	}
}
.sec_right{
	width:710px;
	height:515px;
	float: left;
	input{
			outline: none;
		}
	.sec_right_top{
		width:610px;
		height:118px;
		margin:0 50px;
		border-bottom: 1px dashed #dddddd;
		
		p{
			width: 24px;
			height: 24px;
			background: #b00a2a;
			border-radius: 50%;
			text-align: center;
			color: white;
			float: left;
			margin-right: 8px;
		}
		span{
			margin-right: 15px;
			font-size: $basefontsize;
			color: black;
		}
		#btn_phone{
			width: 135px;
			height: 36px;
			background: #b00a2a;
			border:1px solid #a90024;
			border-radius: 2px;
			color: white;
			margin-right: 10px;
		}
		#btn_email{
			width: 135px;
			height: 36px;
			background: #d9d7d7;
			border:1px solid #cccccc;
			border-radius: 2px;
			color: black;
		}
	}
}
.sec_right_bot{
	padding-top: 32px;
	width: 610px;
	height: 358px;
	margin:0 50px;
	input{
		width: 205px;
		height: 30px;
		border: 1px solid #cccccc;
		border-radius: 4px;
		background: #f4f4f4
		outline:none;
	}
	
	
}
.right_bot_1{
	/* 	margin-top: 32px; */
		p{
			width: 24px;
			height: 24px;
			background: #b00a2a;
			border-radius: 50%;
			text-align: center;
			color: white;
			float: left;
			margin-right: 8px;
			
		}
		span{
			font-size: $basefontsize;
			color: black;

		}
	}
.change1{
	display: block;
}
.right_bot_2{
		margin-top: 16px;
		margin-left: 43px;
		overflow: hidden;

		span{
			font-size: $basefontsize;
			color: #393939;
			float: left;
			line-height: 30px;
		}
		.phone{
			float: left;
            .phone_top{
            	margin-bottom: 10px;
            	button{
            		width: 114px;
            		height: 24px;
            		border:1px solid #b4b4b4;
            		border-radius: 2px;
            		background: #f4f4f4;
            		color: #7b7b7b;
            		font-size: $basefontsize;
            		line-height: 24px;
            		text-align: center;
            		margin-left: 5px;
            	}
            }
            p{
            	text-align: center;
            	line-height: 12px;
            	span{
            		font-size: $basefontsize;
            		color: #7b7b7b;
            		line-height: 12px;
            		
            	}
            	a{
            		font-size: $basefontsize;
            		color: #bf003a;
            		
            	}
            }
		}

	}
.right_bot_3{
	margin-left: 69px;
	margin-top: 20px;
	span{
		font-size: $basefontsize;
			color: #393939;
			float: left;
			line-height: 30px;
	}
}
.right_bot_4{
		margin-top: 10px;
		margin-left: 80px;
		overflow: hidden;
		span{
			font-size: $basefontsize;
			color: #393939;
			float: left;
			line-height: 30px;
		}
		.submit{
			float: left;
			p{
               font-size: $basefontsize;
            	color: #7b7b7b;
            	line-height: 12px;
			}
		}
		
}
.right_bot_5{
	margin-left: 55px;
	margin-top: 10px;
	span{
		font-size: $basefontsize;
			color: #393939;
			float: left;
			line-height: 30px;
	}
}
.right_bot_6{
	margin-left: 118px;
	margin-top: 19px;
	input{
		width: 12px;
		height: 12px;
		border: 1px solid #8e8f8f;
	}
	a{
      font-size: $basefontsize+2;
      color: #bf003a;
            		
     }
}
.right_bot_7 input{
	margin-left: 122px;
	margin-top: 20px;
	width: 172px;
	height: 43px;
	border: 1px solid #a90024;
	border-radius: 3px;
	background: #ab0527;
	font-size: $basefontsize+4;
	color: white;
}
.change2{
	display:none;
	.right_bot_2{
		margin-top: 16px;
		margin-left: 121px;
		overflow: hidden;

		span{
			font-size: $basefontsize;
			color: #393939;
			float: left;
			line-height: 30px;
		}
		.phone{
			float: left;
            .phone_top{
            	margin-bottom: 10px;
            }
            p{
            	text-align: center;
            	line-height: 12px;
            	span{
            		font-size: $basefontsize;
            		color: #7b7b7b;
            		line-height: 12px;
            		
            	}
            }
		}

	}
.right_bot_3{
	margin-left: 126px;
	margin-top: 20px;
	span{
		font-size: $basefontsize;
			color: #393939;
			float: left;
			line-height: 30px;
	}
}
.right_bot_4{
		margin-top: 10px;
		margin-left: 104px;
		overflow: hidden;
		span{
			font-size: $basefontsize;
			color: #393939;
			float: left;
			line-height: 30px;
		}
		.submit{
			float: left;
			p{
               font-size: $basefontsize;
            	color: #7b7b7b;
            	line-height: 12px;
			}
		}
		
}
.right_bot_5{
	margin-left: 116px;
	margin-top: 10px;
	span{
		font-size: $basefontsize;
			color: #393939;
			float: left;
			line-height: 30px;
	}
}
.right_bot_6{
	margin-left: 165px;
	margin-top: 19px;
	input{
		width: 12px;
		height: 12px;
		border: 1px solid #8e8f8f;
	}
	a{
      font-size: $basefontsize+2;
      color: #bf003a;
            		
     }
}
.right_bot_7 input{
	margin-left: 168px;
	margin-top: 20px;
	width: 172px;
	height: 43px;
	border: 1px solid #a90024;
	border-radius: 3px;
	background: #ab0527;
	font-size: $basefontsize+4;
	color: white;
}
}
